<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>加油吧</title>
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../static/css/share.css">
	<link rel="stylesheet" type="text/css" href="../static/css/about/about.css">
</head>
<body>
	<div class="container">
		<div class="banner">
			<div class="nav">
				<div class="nav-content">
					<div class="logo">
						<img src="../static/img/index/logo-white.png" alt="logo">
					</div>
					<div class="menu">
						<ul>
							<li><a href="../index.html">产品</a></li>
							<li><a href="../template/technology.html">爱奔科技</a></li>
							<li><a href="../template/city.html">城市</a></li>
							<li><a href="../template/news.html">新闻</a></li>
							<li><a href="../template/about.html">关于</a></li>
						</ul>
					</div>					
				</div>
			</div>
		</div>
		<div class="content">
			<h1>投资规划</h1>
			<p class="point">&nbsp;&nbsp;.&nbsp;&nbsp;&nbsp;&nbsp;. &nbsp;&nbsp;&nbsp;&nbsp;.</p>
			<div class="item">
				<div class="left">
					<p>中国大陆</p>
					<span>已投资123个城市</span>
				</div>
				<div class="right">
					<ul>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
					</ul>
				</div>
			</div>
			<div class="item">
				<div class="left">
					<p>海外</p>
					<span>已投资123个城市</span>
				</div>
				<div class="right">
					<ul>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
						<li><a href="javascript:;">上海</a></li>
					</ul>
				</div>
			</div>			
		</div>
			<div class="footer">
			<div class="footer-content">
				<div class="footer-top">
					<div class="webchat">
						<div class="left"><img src="../static/img/index/webchat-icon.png" alt="wx"></div>
						<div class="right"><p>微信扫一扫<br/>申请入住</p></div>
					</div>
					<div class="discount">
						<div class="left"><img src="../static/img/index/discount-icon.png" alt="discount"></div>
						<div class="right"><p>优惠信息<br/>用UBAR，能赚钱</p></div>
					</div>
				</div>
				<div class="footer-bottom">
					<ul class="list1">
						<li><a href="javascript:;"><img src="../static/img/index/logo-red.png"></a></li>
						<li><a href="javascript:;">Shanghai UBAR Technology Co.,Ltd</a></li>
						<li><a href="javascript:;">客服电话 400-000-0000</a></li>
					</ul>
					<ul class="list2">
						<li class="title"><a href="javascript:;">产品</a></li>
						<li><a href="javascript:;">经典版</a></li>
						<li><a href="javascript:;">纪念版</a></li>
					</ul>
					<ul class="list3">
						<li class="title"><a href="javascript:;">生活</a></li>
						<li><a href="javascript:;">28度氧</a></li>
						<li><a href="javascript:;">纪念版</a></li>
					</ul>
					<ul class="list4">
						<li class="title"><a href="javascript:;">关于</a></li>
						<li><a href="javascript:;">关于UBAR</a></li>
						<li><a href="javascript:;">加入我们</a></li>
						<li><a href="javascript:;">联系我们</a></li>
					</ul>
					<ul class="list5">
						<li class="title"><a href="javascript:;">设计网络</a></li>
						<li><a href="javascript:;">微博</a></li>
						<li><a href="javascript:;">微信</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>