.container{
	width: 100%;
}
.container .banner{
	width: 100%;
    height: 600px;
    background: url(../../img/index/banner.png);
    background-size: 100.15% 100%;
}
.container .slide{
	width: 100%;
	height: 200px;
}

.container .slide ul{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.container .slide ul li{
	width: 25%;
	height: 100%;
	float: left;
}
.container .slide ul li a{
	width: 100%;
	height: 100%;
	display: block;
}
.container .slide ul li a img{
	width: 100%;
	height: 100%;
}


